*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: #FFFFFF;
    /*font-family: Arial, sans-serif;*/
    color: antiquewhite;
}

#logo{
    color: antiquewhite;
}

#logo span{
    color: #111111;
}

#header-wrapper
{
    background: #FFF;
}

#header
{
    position: relative;
    height: 100px;
}

#header-featured{
    height: 30em;
    background-image: url("/static/images/banner.jpg");
    background-position: center;
    background-size: cover;
}

#menu
{
    position: absolute;
    right: 0;
    top: 1em;
}

#menu ul
{
    display: inline-block;
}

#menu li
{
    display: block;
    float: left;
    text-align: center;
    line-height: 50px;
}

#menu li a, #menu li span
{
    display: inline-block;
    margin-left: 1px;
    padding: 0em 1.5em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    outline: 0;
    color: #212121;
    background: #ECECEC;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
}

.nav-link{
    display: flex;
}

.nav-link-list {
    margin-right: 2rem;
    list-style-type: none;
}

.nav-link-list a{
    text-decoration: none;
    color: antiquewhite;
}

.nav-link-list a:hover{
    color: aliceblue;
}
