<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iTech - Error Page</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <style>
    table td {
      vertical-align: top;
      border: solid 1px;
      padding: 10px;
    }
  </style>
</head>
<body>
<h3>Error Page</h3>
<table>
  <tr>
    <td>Date</td>
    <!--/*@thymesVar id="timestamp" type=""*/-->
    <td th:text="${timestamp}"/>
  </tr>
  <tr>
    <td>Path</td>
    <!--/*@thymesVar id="path" type=""*/-->
    <td th:text="${path}"/>
  </tr>
  <tr>
    <td>Error</td>
    <!--/*@thymesVar id="error" type=""*/-->
    <td th:text="${error}"/>
  </tr>
  <tr>
    <td>Status</td>
    <!--/*@thymesVar id="status" type=""*/-->
    <td th:text="${status}"/>
  </tr>
  <tr>
    <td>Message</td>
    <!--/*@thymesVar id="message" type=""*/-->
    <td th:text="${message}"/>
  </tr>
  <tr>
    <td>Exception</td>
    <!--/*@thymesVar id="exception" type=""*/-->
    <td th:text="${exception}"/>
  </tr>
  <tr>
    <td>Trace</td>
    <td>
      <!--/*@thymesVar id="trace" type=""*/-->
      <pre th:text="${trace}"/>
    </td>
  </tr>
</table>
</body>
</html>
