<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iTech - User Registration Page</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>
<h3>Registration Page</h3>
<form method="post" th:action="@{/user/new}" th:object="${user}">
  <div>
    <label>
      Email:
      <input type="text" th:field="*{email}">
    </label>
  </div>
  <div>
    <label>
      Password:
      <input type="text" th:field="*{password}">
    </label>
  </div>
  <div>
    <label>
      First Name:
      <input type="text" th:field="*{firstName}">
    </label>
  </div>
  <div>
    <label>
      Last Name:
      <input type="text" th:field="*{lastName}">
    </label>
  </div>
  <div>
    <label>
      City:
      <input type="text" th:field="*{city}">
    </label>
  </div>
  <div>
    <label>
      Zip Code:
      <input type="text" th:field="*{zipCode}">
    </label>
  </div>
  <div>
    <label>
      Country:
      <input type="text" th:field="*{country}">
    </label>
  </div>
  <div>
    <label>
      Message Channel Preference:
      <select name="user">
        <option th:each="messageChannelPreference : ${T(com.iTech.onlinestore.model.User).values()}"
                th:value="${messageChannelPreference}" th:text="${messageChannelPreference}"></option>
      </select>
    </label>
  </div>
  <div>
<!--    <button type="submit"><a href="/welcome">Register New Admin</a></button>-->
    <button type="submit"><a href="/welcome">Register New User</a></button>
  </div>
  <div>

  </div>
</form>

</body>
</html>
